<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAtl-bt3ZLIozNRAmKHKezmUU5BE9alJYM</string>
	<key>GCM_SENDER_ID</key>
	<string>849967201601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.async.it.clicksoutlet</string>
	<key>PROJECT_ID</key>
	<string>clicks-outlet</string>
	<key>STORAGE_BUCKET</key>
	<string>clicks-outlet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849967201601:ios:2bce6d47e06aaa5e4535c0</string>
</dict>
</plist>